.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 120px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 20px;
}

.subtotal > button {
  width: 100%;
  background-color: #f0c14b;
  border-radius: 2px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.subtotal > .strong {
  padding-left: 5px;
}
